@import url('https://fonts.googleapis.com/css?family=Roboto:400,900&display=swap');

*,
*:before,
*:after{
    margin:0;
    padding:0;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
}

body{
    color:black;
    text-align:center;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(255,255,224);
}

.title{
    background:url(../img/kobe.jpg);
    background-size:cover;
    color:purple;
    height:760px;
    width:100%;
    text-align:center;
}

#commitment{
    margin-top:30%;
    width:50%;
}

.quoting1{
    height:760px;
    text-align:center;
}

#mambaPic{
    cursor:pointer;
    margin:3%;
    padding:2%;
}

#mambaPic:hover{
    filter: drop-shadow(0 0 12mm rgb(0, 0, 0));
    width:40%;
}

.quote1{
    padding:15%;
    font-size:4em;
    cursor:pointer;
}

.photos{
    display:grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
}

#happyKobe{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    width:90%;
    margin:5%;
    filter: drop-shadow(0 0 4mm rgb(0, 0, 0));
}

#happyKobe:hover{
    filter: drop-shadow(0 0 8mm rgb(160, 0, 210));
}

#dunkingKobe{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    width:90%;
    margin:5%;
    filter: drop-shadow(0 0 4mm rgb(0, 0, 0));
}

#dunkingKobe:hover{
    filter: drop-shadow(0 0 8mm rgb(160, 0, 210));
}

#funnyKobe{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    width:90%;
    margin:5%;
    filter: drop-shadow(0 0 4mm rgb(0, 0, 0));
}

#funnyKobe:hover{
    filter: drop-shadow(0 0 8mm rgb(160, 0, 210));
}

#winningKobe{
    grid-column-start: 2;
    grid-column-end: 3;g
    grid-row-start: 2;
    grid-row-end: 3;
    width:90%;
    margin:5%;
    filter: drop-shadow(0 0 4mm rgb(0, 0, 0));
}

#winningKobe:hover{
    filter: drop-shadow(0 0 8mm rgb(160, 0, 210));
}

#arrowRight{
    transform:rotate(180deg);
}

.moreQuotes{
    margin-top:10%;
    margin-bottom:20%;
}

h2{
    font-size:4em;
    filter: drop-shadow(0 0 4mm rgb(255, 255, 255));
}

.toggling{
    display:grid;
    grid-template-columns: 20% 60% 20%;
    text-align:center;
    margin-top:5%;
}

#t1{
    grid-column-start:1;
    grid-column-end:2;
    width:20%;
    cursor:pointer;
}

#t2{
    grid-column-start:3;
    grid-column-end:4;
    width:20%;
    cursor:pointer;
}

#text{
    font-size:3em;
}