@import url('https://fonts.googleapis.com/css?family=Cantarell|Open+Sans:400i');

*,
*:before,
*:after{
    margin:0;
    padding:0;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
}

body{
    color:white;
    text-align:center;
    font-family: 'Cantarell', sans-serif;
    font-family: 'Open Sans', sans-serif;
    background:
    linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
    linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
    linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
    linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
    linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
    linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
    background-color: #131313;
    background-size: 20px 20px;
}

.title{
    background:url(../img/kobe.jpg);
    background-size:cover;
    color:purple;
    height:760px;
    width:100%;
    text-align:center;
}

#commitment{
    margin-top:30%;
    width:50%;
}

h1{
    padding-top:20%;
    font-size:7em;
}

.quoting1{
    height:760px;
    text-align:center;
}

#mambaPic{
    cursor:pointer;
    transition:.5s;
    margin:3%;
    padding:2%;
}

#mambaPic:hover{
    background:white;
    border-radius:2em;
}

.quote1{
    padding:15%;
    font-size:4em;
    cursor:pointer;
}

.photos{
    display:grid;
    grid-template-columns: 15% 30% 10% 30% 15%;
    grid-template-rows: 40% 60%;
}

